.container {
    max-width: 800px;
    margin: 0 auto;
    color: #404040;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

body{
	background-image:url("/ui/pic1.jpg");
	background-size: cover;
	text-align: justify;
}
.section {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.p{
    font-size:30px;
}
.section .img-responsive {
  margin: 0 auto;
  
}
.section h2.title {
  display: inline-block;
  font-size: 50px;
  font-weight: 100;
  padding: 10px 0;
  margin-bottom: 44px;
  text-align: center;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  text-transform: uppercase;
  line-height: 1.2;
}
 h4.title,h3.title {
  display: inline-block;
  text-align: justify;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  text-transform: uppercase;
  line-height: 1.2;
  }
.section h2.title span {
  font-size: 40px;
}

