.container {
    max-width: 800px;
    margin: 0 auto;
    color: #404040;
    font-family: 'TimesNewRoman';
    padding-left: 15px;
    padding-right: 15px;
   }

body{
	background-image:url("/ui/pic1.jpg");
	background-size: cover;
	text-align: justify;
}
.section {
  position: relative;
  padding-top: 55px;
  padding-bottom: 50px;
  text-align: center;
}
.section h2.title {
  display: inline-block;
  font-size: 50px;
  font-weight: 100;
  padding: 20px 0;
  text-align: center;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  text-transform: uppercase;
  line-height: 1.2;
}
 
 .section h2.title span {
  font-size: 40px;
}
.article{
    
    max-width: 800px;
    margin:0 auto;
}

.full{
    box-shadow: 2px 2px 32px 7px;
    background-color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-right:15px;
    padding-bottom: 20px;
    
}

.para{
	font-family: 'Aguafina Script', cursive;
 font-size:22px;
}

#comments{
	font-size:20px;
	font-weight: bold;
	font-family: 'Almendra SC', serif;
	margin-bottom: 15px;
	padding-bottom: 5px;
 
}


#comments p{
	padding-top: 2px;
	padding-bottom: 2px;
	
	margin-bottom: 1px;
	margin-top: 1px;
}

#comments hr{
	margin-top:1px;
	margin-bottom: 1px;
}

